
AmazonReviewFaker/.vs/AmazonReviewFaker/DesignTimeBuild/.dtbcache.v2
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/1c35f6d7-98bd-470f-a6c1-c69e75acf3dd.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/298c693d-e7c6-4ff6-9837-6e8326a20182.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/3bbe01a5-3e35-4b40-b09c-fca03982118d.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/515c8537-92e4-47a8-9734-3138be0c7d5a.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/5ca97d39-44c5-4c64-b8e5-19cdb9bdd617.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/90e1e4f6-4642-424c-9b8a-6f5b3c71e001.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/9404b85e-1d71-47c0-a8df-5db1f95cc593.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/98aa338c-206e-4449-8452-dc394521fe32.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/ac74cfe4-ed18-4760-a61d-c42e12e63943.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/b425efaf-d3a4-41fd-85bb-15ce82026517.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/FileContentIndex/de664d35-b862-48fc-bbca-003c0c497f25.vsidx
AmazonReviewFaker/.vs/AmazonReviewFaker/v17/.futdcache.v2
AmazonReviewFaker/.vs/AmazonReviewFaker/v17/.suo
AmazonReviewFaker/.vs/AmazonReviewFaker/v17/TestStore/0/002.testlog
AmazonReviewFaker/.vs/ProjectEvaluation/amazonreviewfaker.metadata.v5.2
AmazonReviewFaker/.vs/ProjectEvaluation/amazonreviewfaker.projects.v5.2
AmazonReviewFaker/bin/Debug/net7.0/AmazonReviewFaker.dll
AmazonReviewFaker/bin/Debug/net7.0/AmazonReviewFaker.pdb
AmazonReviewFaker/obj/AmazonReviewFaker.csproj.nuget.dgspec.json
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.assets.cache
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.csproj.FileListAbsolute.txt
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.dll
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.GeneratedMSBuildEditorConfig.editorconfig
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.genruntimeconfig.cache
AmazonReviewFaker/obj/Debug/net7.0/AmazonReviewFaker.pdb
AmazonReviewFaker/obj/project.assets.json
AmazonReviewFaker/obj/project.nuget.cache
UnitTests/bin/Debug/net7.0/AmazonReviewFaker.dll
UnitTests/bin/Debug/net7.0/AmazonReviewFaker.pdb
UnitTests/bin/Debug/net7.0/CoverletSourceRootsMapping
UnitTests/bin/Debug/net7.0/UnitTests.dll
UnitTests/bin/Debug/net7.0/UnitTests.pdb
UnitTests/obj/Debug/net7.0/UnitTests.assets.cache
UnitTests/obj/Debug/net7.0/UnitTests.csproj.AssemblyReference.cache
UnitTests/obj/Debug/net7.0/UnitTests.csproj.CoreCompileInputs.cache
UnitTests/obj/Debug/net7.0/UnitTests.csproj.FileListAbsolute.txt
UnitTests/obj/Debug/net7.0/UnitTests.dll
UnitTests/obj/Debug/net7.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
UnitTests/obj/Debug/net7.0/UnitTests.genruntimeconfig.cache
UnitTests/obj/Debug/net7.0/UnitTests.pdb
UnitTests/obj/project.assets.json
UnitTests/obj/project.nuget.cache
UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
